@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/open-sans_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/open-sans-bold_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/open-sans-bold_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../fonts/open-sans-condensed-bold_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/open-sans-condensed-bold_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/open-sans-extrabold_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/open-sans-extrabold_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neo_sans_proregular';
    src: url('../fonts/neosansproregular-webfont.woff2') format('woff2'),
         url('../fonts/neosansproregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neo_sans_probold';
    src: url('../fonts/neosansprobold-webfont.woff2') format('woff2'),
         url('../fonts/neosansprobold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}