.gallery {
	margin: 20px 0;
	
	p {
		color: $photoname;
		font-size: 16px;
		font-family: open_sansregular;
		margin: 0;
	}

	a {
		border: none;
		outline: none;
		display: block;
		position: relative;
		border-bottom: none;

		img {
			max-width: 100%;
			height: auto;
			display: block;
		}

		&:before {
			background: url('../img/zoom.png') center no-repeat;
			width: 39px;
			height: 40px;
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -20px 0 0 -19.5px;
			opacity: 0;
			transition: all 0.5s;
			z-index: 10;
		}

		&:hover {
			border-bottom: none;
		}

		&:after {
			background-color: rgba(0, 0, 0, 0.7);
			width: 100%;
			height: 100%;
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			transition: all 0.5s;
		}

		&:hover:before, &:hover:after {
			opacity: 1;
		}

	}

}

@media (max-width: 800px) {
	
	.gallery {

		img {
			width: 100%;
		}

	}

}