.gallery-thumbnail {

	.gallery-thumbnail__big  {
		
		div {
			border: 1px solid $cardborder;
			border-radius: 15px;
			box-sizing: border-box;
		}

		a {
			text-align: center;
			width: 100%;
			flex-basis: 100%;
			height: 350px;
			display: flex;
			position: relative;
			outline: none;

			&:hover {
				border: none;
			}

			&:before {
				background: url('../img/zoom.png') center no-repeat;
				width: 39px;
				height: 40px;
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -20px 0 0 -19.5px;
				opacity: 0;
				transition: all 0.5s;
				z-index: 10;
			}

			&:after {
				background-color: rgba(0, 0, 0, 0.7);
				width: 100%;
				height: 100%;
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				transition: all 0.5s;
				border-radius: 14px;
			}

			&:hover:before, &:hover:after {
				opacity: 1;
			}

		}

		img {
			max-height: 230px;
			margin: auto;
			align-self: center;
			max-width: 100%;
			width: auto;
		}

	}

	.gallery-thumbnail__mini {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		a {
			width: 140px;
			flex-basis: 140px;
			height: 130px;
			overflow: hidden;
			text-align: center;
			margin: 20px 0;

			img {
				height: 100%;
				width: auto;
			}

		}

	}

}